.todo-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
  padding-left: 20px;
  margin-bottom: -20px;
  list-style-type: none;
}

.todo-title {
  color: #000000;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
}

.button {
  background-color: transparent;
  color: #ff0b37;
  font-family: 'Roboto';
  font-weight: 600;
  border: 2px solid #ff0b37;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  cursor: pointer;
}
